# Object files used by systems
*.o

# Usually for cmake we use the build directory
# and in some cases I want to use build-mac or build-pi
build
build-*

# Documentation files that are generated after
docs/html
docs/xml

# Generated bin files
client/ps3/bin
playground/lib64
playground/bin
playground/lib

# InteliJ
.idea/
