@import "default";
@import "formatted";

.download
{
    display:inline-block;
    
    > .release-notes
    {
        float:left;
        width:494px;

        .formatted
        {
            margin-top:10px;
        }
    }   

    > .releases
    {
        width:400px;
        float:left;
        display:inline-block;

        .release
        {
            &:first-child
            {
                h1:after
                {
                    content:"latest";
                    font-size:12px;
                    background:#000;
                    color:#FFF;
                    padding:2px 4px 2px 4px;
                    border-radius:2px;
                    font-family:Arial;

                    font-weight:bold;
                }
            }
            
            width:100%;
            margin-bottom:15px;

            text-align:right;

            h1
            {
                .tag
                {
                }
            }       

            display:inline-block;

            ul.small-text
            {
                display:inline-block;
                list-style:none;

                li
                {
                    float:right;
                    margin-left:15px;
                }
            }
        }
    }

}
