@import "default";
@import "formatted";

.download
{
    .clone
    {
        display:inline-block;
        width:74px+400px;

        margin:0px auto 60px auto;

        > .image
        {
            float:left;
            width:64px;
            margin-right:10px;
        }

        > .text
        {
            margin-top:1px;
            float:left;
            width:400px;
        }
    }
        
        
    > .releases
    {
        width:100%;

        > h1
        {
            text-align:center;
            margin-bottom: 20px;
        }

        .release
        {
            display:inline-block;
            margin-bottom:15px;
            
            &:first-child
            {
                .package
                {
                    .name:after
                    {
                        content:"latest";
                        font-size:12px;
                        background:#000;
                        color:#FFF;
                        padding:2px 4px 2px 4px;
                        border-radius:2px;
                        font-family:Arial;

                        font-weight:bold;
                    }
                }
            }

            .package
            {
                width:380px;
                float:left;
                text-align:right;
                display:inline-block;
                margin-right:10px;

                .info
                {
                    width:280px;
                    float:right;

                    ul.small-text
                    {
                        display:inline-block;
                        list-style:none;
                        width:100%;

                        li
                        {
                            float:right;
                            margin-left:15px;
                        }
                    }

                }
                
                .tag
                {
                    float:right;
                    text-align:right;
                    font-size:38px;
                    width:auto;
                    margin-left:10px;
                    margin-top:9px;
                }


            }

            > .notes
            {
                float:left;
                width:480px;
                padding-left:14px;

                border-left:1px solid #CCC;

                .formatted
                {
                    margin-top:10px;
                }
            }   
        }
    }
}
