@import "default";

#error
{
    .main
    {
        display:inline-block;
    
        .code
        {
            font-family:Oswald;
            font-size:45px;
            color:#000;
            float:left;
            margin-right:10px;
        }
        .message
        {
            font-family:Oswald;
            font-size:30px;
            color:#666;
            float:left;
        }
    }

    .exception,
    .stack,
    .request
    {
        margin-top:20px;
    }

    pre
    {
        word-wrap:break-word;
    }
}
