.formatted
{
    h1
    {
        margin-top:37px;
    }
    h2
    {
        margin-top:32px;
    }
    h3
    {
        margin-top:25px;
    }
    h4
    {
        margin-top:20px;
    }
    
    h1, h2, h3, h4
    {
        &:first-child
        {
            margin-top:0px;
        }
    }

    p
    {
        margin-bottom:15px;
    }

    ul
    {
        margin-left:50px;
        margin-bottom:15px;

        li
        {
            line-height:21px;

            margin-bottom:6px;
        }
    }   

    pre
    {
        margin-left:20px;
        margin-bottom:20px;
        background:#DDD;
        padding:5px;
        border-radius:2px;
    }
}       
