@import "default";

.issues
{
    .issue
    {
        display:inline-block;
        margin-bottom:15px;

        .number
        {
            width:70px;
            float:left;
            font-size:27px;
            margin-top:10px;
            font-weight:bold;

            .closed
            {
                color:#CCC;
            }
        }

        .info
        {
            width:530px;
            float:left;

            ul
            {
                margin-top:4px;
                display:inline-block;
                list-style:none;
                        
                font-size:0.9em;
                font-family:Arial;

                li
                {
                    float:left;
                    margin-right:5px;
                    
                    &.text
                    {
                        color:#666;

                        a
                        {
                            font-weight:bold;
                            color:#333;
                        }
                    }

                    &.label
                    {
                        margin-right:3px;
                        padding: 0px 4px 0px 4px;
                        border-radius:2px;
                        font-size:0.9em;
                        color:#FFF;
                        text-shadow:1px 1px 0px rgba(0,0,0,0.1);
                    }
                }
            }
        }

        .assigned
        {
            width:294px;
            float:left;
            text-align:right;
            display:inline-block;

            .login
            {
                float:right;

                .user
                {
                    a
                    {
                        font-weight:bold;
                        color:#333;
                    }
                }

                .posted-on
                {
                    font-size:0.9em;
                    color:#666;
                }
            }
            .gravatar
            {
                float:right;
                margin-left:7px;
                margin-top:3px;

                img
                {
                    border-radius:2px;
                }
            }
        }    
    }

    .viewall
    {
        margin-top:30px;
        text-align:right;

        > .heading
        {
            font-weight:bold;
        }

        > .link
        {
            font-size:12px;
        }
    }
}
