@import "default";

#license
{
    .header
    {
        display:inline-block;
        margin-bottom:30px;

        .logo
        {
            img
            {
                width:80%;
                height:auto; 
                margin-top:10px;   
            }
            float:left;
            width:100px;
        }

        .text
        {
            float:left;
            width:794px;

            .authors
            {
                a
                { 
                    font-weight:bold;
                }
            }

            .notice
            {
                font-style:italic;
            }
        }
    }

    .body
    {
        padding:20px;
        background:#DDD;
        font-size:12px;
        line-height:14px;

        white-space: pre-wrap;
        word-wrap:break-word;
    }
}
