@import "default";

.deed
{
    $_m_bottom:37px;
    margin-bottom:$_m_bottom;

    &:last-child
    {
        margin-bottom:0px;
    }

    ul
    {
        margin-left:50px;
        margin-top:10px;
        margin-bottom:10px;

        li
        {
            margin-bottom:5px;
        }
    }   

    .help
    {
        margin-top:($_m_bottom - 10);
    }
}

#deed-disclaimer
{
    font-size:0.8em;
    line-height:1.7em;
}   

#deed-header
{
    width:100%;

    .logo
    {
        width:(88 + 10px);
        height:(31 + 14px);
        float:left;
        padding-top:14px;
        padding-right:10px;
    }

}
