body{
	text-align: left;
  background: #000;
  color:#fff;
  padding:0 20px;
}

h1 {
  line-height: 20px;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #fff;
  letter-spacing: -0.05em;
  float: right;
  display: block;
}

label{
	display: block;
	font-size: 14px;
}


#logo{
  width:61px;
  height:63px; 
  position:absolute; 
  top:20px; left:26px;
  background:transparent url(dashee_options_pressed.png) no-repeat 0 0;
}

#car{
  width:70px;
  height:109px; 
  position:absolute; 
  top:100px; left:100px; 
}

#car-img{
  background:transparent url(car.png) no-repeat 0 0;
  width:70px;
  height:109px;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

#wheel-1, #wheel-2, #wheel-3, #wheel-4{
  width:8px; 
  height:20px; 
  position:absolute; 
  top: 9px;
  left: 5px; 
  background:#444;
}

#wheel-2{
  left:auto;
  right:5px;
}

#wheel-3{
  top:auto;
  left:auto;
  left:6px;
  bottom:7px;
}

#wheel-4{
  left:auto;
  top:auto;
  right:6px;
  bottom: 7px;
}