body{
	text-align: left;
  background: #000;
  color:#fff;
  padding:0 20px;
}

h1 {
  width: 100%;
  line-height: 20px;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #fff;
  letter-spacing: -0.05em;
}

label{
	display: block;
	font-size: 14px;
}
