body{
	text-align: center;
}

h1 {
  text-align: center;
  width: 100%;
  line-height: 20px;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}

label{
	display: block;
	font-size: 14px;
}
